<html>
<head>
    <title>CWRU Hacker Society Talk Materials</title>
    <link rel="stylesheet" href="blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="blueprint/print.css" type="text/css" media="print">
</head>
<body>
    <div class="container">
        <div class="span-16 last push-4">
            <br/><br/>
            <h1>CWRU Hacker Society Talk Materials</h1>
            <div class="talk_list">
                {% for info in talks %}
                <div class="talk_item">
                    <div class="talk_info">
                        <h3 class="talk_title">{{ info.date }} - {{ info.title }}</h3>
                        <div class="talk_author">{{ info.author }}</div>
                        <br/>
                        <div class="talk_desc">
                            <p><strong>Description: </strong>{{ info.description }}</p>
                        </div>

                        {% if info.formats %}
                        <div class="talk_formats"><strong>Presentation:</strong>
                            {% for (fmt, link) in info.formats.items() %}
                                <a href="{{ link }}">{{ fmt }}</a>
                            {% endfor %}
                        </div>
                        {% endif %}

                        {% if info.audio %}
                        <div class="talk_audio"><a href="{{ info.audio }}">Audio</a></div>
                        {% endif %}

                        {% if info.video %}
                        <div class="talk_video"><a href="{{ info.video }}">Video</a></div>
                        {% endif %}

                        {% if info.links %}
                        <br/>
                        <div class="talk_links">
                            <strong>Links: </strong>
                            <ul>
                                {% for (link_title, link_url) in info.links.items() %}
                                <li><a href="{{ link_url }}">{{ link_title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        <div class="talk_repo"><a href="{{ info.github }}">Github</a></div>
                    </div>
                </div>
                <br/>
                <hr/>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
